Django
entrypoints
gunicorn
httplib2
idna
keyring
keyrings.alt
launchpadlib
lazr.restfulclient
lazr.uri
macaroonbakery
Mako
MarkupSafe
netifaces
oauthlib
olefile
pexpect
Pillow
protobuf
pycairo
pycrypto
pycups
PyJWT
pymacaroons
PyNaCl
pyRFC3339
python-dateutil
pytz
pyxdg
PyYAML
reportlab
requests
requests-unixsocket
SecretStorage
simplejson
six
sqlparse
systemd-python
urllib3
virtualenv
wadllib
